extends ../../layout/index
block content
    #speakerDetail.container
        .row
            .col-sm-8
                article.speakerslist
                    .container
                        .row
                            .col-sm-8
                                h3.speakerslist-title=speaker.title
                                h5.speakerslist-name
                                    | with&nbsp
                                    a(href=`/${speaker.shortname}`)=speaker.name
                                p.speakerslist-info
                                    a(href=`/${speaker.shortname}`)
                                    img.speakerslist-img.img-responsive.pull-left(src=`/images/speakers/${speaker.shortname}.jpg`, alt=`Photo of ${speaker.name}`)
                                //-  ! <- give the unscaped version of the html in description property (unsecure)
                                !=speaker.description
            aside.col-sm-4
                include ../../includes/artwork